.continueButton {
    -fx-background-radius: 20px;
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
}

.continueButton:hover {
    -fx-background-color: #0069D9;
}

FontAwesomeIcon:hover {
    -fx-fill: #0069D9 !important;
}

.resendButton {
    -fx-background-color: white;
    -fx-text-fill: #9248FF;
    -fx-font-size: 14;
}
.resendButton:hover{
    -fx-underline:true;
}
