.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
    -fx-transition-duration: 0.5s;
    -fx-transition-property: -fx-background-color;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, black, #00ff00);
}